<style>
        table
        {
          width: 100%;
          border: 1px solid;
        }
      
        td
        {
          text-align: left;
          padding-left: 10px;
        }
      
        th
        {
          background-color: rgb(123, 230, 119);
        }

        h1
        {
          text-align: center;
          padding-top: 20px;
          padding-bottom: 10px; 
        }
      
      </style>
      
<h1>FARM</h1>
<table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Owner</th>
            <th>Address</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
            <% farms.forEach(function(farm){ %>
              <tr>
                <td><%=farm.id%></td>
                <td><%=farm.name%></td>
                <td><%=farm.owner%></td>
                <td><%=farm.address%></td>          
                <td><%=farm.phone%></td>
              </tr>
            <% }); %>
        </tbody>
      </table>